@model BE_ProgettoSettimana4.ViewModels.VerbaliViewModel

<h1 class="my-3">Verbali</h1>
<a class="btn btn-primary" asp-controller="Verbali" asp-action="Create">Crea Verbale</a>
<table class="table">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Violazione</th>
            <th>Data Violazione</th>
            <th>Indirizzo Violazione</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var verbale in Model.Verbali)
        {
            <tr>
                <td>@verbale.Anagrafica.Cognome @verbale.Anagrafica.Nome</td>
                <td>@verbale.TipoViolazione.Descrizione</td>
                <td>@verbale.DataViolazione.ToString("dd/MM/yyyy")</td>
                <td>@verbale.IndirizzoViolazione</td>
                <td>@verbale.Importo</td>
                <td>@verbale.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
