@model BE_ProgettoSettimana4.ViewModels.RapportoViewModel

<h1 class="my-3">@Model.Titolo</h1>
<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Report)
        {
            <tr>
                <td>@item.Importo</td>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.DataViolazione.ToString("dd/MM/yyyy")</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
